# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
/out/
.idea/
.idea_modules/

# --------------------
# Vim Files
# --------------------
*.swp
*.vim

# --------------------
# App files
# --------------------
node_modules
dist
